<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Information Form</title>
</head>
<body>

    <h2>Enter Server and Database Information</h2>

    <form  method="POST" action="/Metadataa">
        <label for="serverName">Server Name:</label>
        <input type="text" id="serverName" name="serverName" required>

        <label for="dbName">Database Name:</label>
        <input type="text" id="dbName" name="dbName" required>

        <button type="submit" >Submit</button>
  
 <!-- Flash Messages -->
 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
     <ul>
         {% for message in messages %}
             {% if message|length == 2 %}
                 {% set category, message = message %}
                 <li {% if category == 'danger' %}style="color: red;"{% elif category == 'success' %}style="color: green;"{% endif %}>
                     {{ message }}
                 </li>
             {% endif %}
         {% endfor %}
     </ul>
 {% endif %}
{% endwith %}
</form>
</body>
</html>
