
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/IMG-20231020-WA0006-removebg-preview2.png') }}">
       
    
    </head>
    <body>
        <div class="background-image"> <a href= "/" id="homeButton" class="home-button">Home</a></div>
        <img src="{{ url_for('static', filename='images/logo2.png')}}" alt="Logo" class="logo">
        <h2 style="color: #0056b3;"> Reset your Password</h2>

    <form method="POST" class="form">

        <div class="input-container">
            <i class="fas fa-lock icon"></i>
            <input type="password" placeholder="New Password" name="new_password" required>   
        </div>

        <div class="input-container">
            <i class="fas fa-lock icon"></i>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>   
        </div>

        
        <button type="submit">Reset Password</button>
        <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                {% if message|length == 2 %}
                    {% set category, message = message %}
                    <li {% if category == 'danger' %}style="color: red;"{% elif category == 'success' %}style="color: green;"{% endif %}>
                        {{ message }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    </form>
</body>
</html>
