body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('images/cap.png');
    background-repeat: no-repeat;
}

.logo {
    width: 20%;
    height: auto;
    margin-top: 3%; 
}

form.form {
    position: absolute;
    top: 53%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}


form h2 {
    font-size: 30px;
    font-family: 'fantasy';
    color: #0056b3; 
    margin: 0;
    text-align: center;
    padding-top: 15px; 
}


form .input-container {
    position: relative;
    margin-bottom: 20px;
}

form .icon {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    left: 60px;
    color: rgb(4, 62, 104);
}


form input {
    width:75%;
    height: 90%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 16px; 
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 12px; 
    border: 1px solid #1d93e6;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px; 
    margin-left: 0;
    text-align: left; 
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding-left: 30px; 
}

form input::placeholder {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

form button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #007bff, #0056b3); 
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    display: block;

}

form button:hover {
    background: linear-gradient(to right, #0056b3, #003e80); 
}

#forgotPassword {
    color: #200ee9;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    display: block;
}

#forgotPassword:hover {
    color: #1d93e6; 
}
.p1{
    color: #200ee9;
  
}

#newAccountLink {
    color: #200ee9;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 9px;
    display: inline;
   
}

#newAccountLink:hover {
    color: #1d93e6; 
}
.home-button{
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 80px;
    background:transparent;
    border: 0; 
    padding :5px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    color:rgb(0, 64, 255);
    border-radius: 7px; 
    display: inline-block; 
    text-decoration: none; 
}

.logo2 {
    width: 20%;
    height: auto;
    margin-top: -40px; 
}


form.form2 {
    position: absolute;
    top: 53%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}


form h2 {
    font-size: 30px;
    font-family: 'fantasy';
    color: #0056b3; 
    margin: 0;
    text-align: center;
    padding-top: 60px; 
}

form .input-container2 {
    position: relative;
    margin-bottom: 20px;
}

form .icon {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    left: 60px;
    color: rgb(4, 62, 104);
}


form input {
    width:75%;
    height: 90%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 16px; 
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 12px; 
    border: 1px solid #1d93e6;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px; 
    margin-left: 0;
    text-align: left; 
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding-left: 30px; 
}

form input::placeholder {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}



form button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #007bff, #0056b3); 
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    display: block;

}

form button:hover {
    background: linear-gradient(to right, #0056b3, #003e80); 
}
.p1{
    color: #200ee9;  
}
#alreadyHaveAccount {
    color: #200ee9;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 9px;
    display: inline;
}

#alreadyHaveAccount:hover {
    color: #1d93e6;
}

 
